<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<add key="ServiceBusConnectionString" value="Endpoint=sb://<asb namespace>.servicebus.windows.net/;SharedAccessKeyName=<asb access key name>;SharedAccessKey=<asb access key value>"/>
	<add key="ServiceBusFaultAddress" value="sb://<asb namespace>.servicebus.windows.net/FailedMessages"/>
	<add key="RabbitMqServer" value="<rabbitMQ server ip>" />
	<add key="RabbitMqUsername" value="<rabbitMQ username>" />
	<add key="RabbitMqPassword" value="<rabbitMQ Password>" />
	<add key="RabbitMqVirtualHost" value="<rabbitMQ virtural host>" />
</appSettings>
